1. 连接数据库

In [1]:
import pymysql

db = pymysql.connect(host='localhost', user='root', passwd='', port=3306)
cursor = db.cursor()  # 获取操作游标，利用游标可以执行SQL语句
cursor.execute('SELECT VERSION()')
data = cursor.fetchone()
data

('8.2.0',)

In [5]:
cursor.execute('CREATE DATABASE spiders DEFAULT CHARACTER SET utf8mb4')  # 创建数据库
db.close()

2.创建表

In [6]:
db = pymysql.connect(host='localhost', user='root', passwd='', port=3306, db='spiders')
cursor = db.cursor()  # 获取操作游标，利用游标可以执行SQL语句
sql = 'CREATE TABLE IF NOT EXISTS students (id VARCHAR(255) NOT NULL, name VARCHAR(255) NOT NULL, age INT NOT NULL, PRIMARY KEY (id))'
cursor.execute(sql)
db.close()

3.常规使用

In [9]:
import pymysql

# 1.连接数据库
# connection = pymysql.connect(host='localhost', user='root', passwd='', port=3306)
# 1.2.创建数据库
# cursor.execute('CREATE DATABASE spiders DEFAULT CHARACTER SET utf8mb4')  # 创建数据库
# 1.3 连接数据库
connection = pymysql.connect(host='localhost', user='root', passwd='', port=3306, db='spiders')
with connection:  # 构建上下文，不用手动关闭数据库了
    # 2.操作游标
    with connection.cursor() as cursor:
        # 3. 创建一条新记录
        id = '20120001'
        user = 'Bob'
        age = 20
        sql = f'INSERT INTO students(id, name, age) values("{id}", "{user}", {age})'
        cursor.execute(sql)
    # 4.连接不会默认提交，因此这里手动保存改变
    connection.commit()
    with connection.cursor() as cursor:
        # 读取单个记录
        sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
        cursor.execute( )

In [8]:
print(sql)

INSERT INTO students(id, name, age) values(20120001, Bob, 20)